:root {
    --b-radius: 25px;
}

.reveal .slides {
    text-align: left;
}

em {
    font-style: normal !important;
    text-decoration: underline #9558b2 dashed 5px;
}

i:not(.fas):not(.fa-circle) {
    font-style: italic !important;
}

/* Cover slide */
.cover h2 {
    font-size: 0.75em;
    margin-left: 1em;
}

.cover h3 {
    font-size: 0.5em;
    margin-left: 4em;
}

/* Title slides */
.reveal .title-slide > * {
    color: #eee;
    text-align: center;
}

.title-slide h2 {
    font-size: 0.75em;
}

/* Overboxes */
.obox {
    background-color: #fdfdfe;
    padding: 24px;

    border: 10px solid #9558b2;
    border-radius: 10px;

    width: max-content;
    max-width: 100%;
    overflow: auto;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Menu */
.reveal .slide-menu-button {
    top: 30px;
    bottom: auto !important;
    font-size: 44px !important;
}

nav ol li:after,
nav ol li:last-child:after,
nav ul li:after,
nav ul li:last-child:after,{
    content: "";
}

/* Logo */
#logo {
    position: absolute;
    bottom: 10px;
    left: 10px;

    height: 50px;
    width: 100%;

    display: flex;

    opacity: 25%;

    font-family: var(--r-main-font);
}

#logo:before {
    content: "";

    position: absolute;
    width: 25%;

    border-top: 2px solid #e65100;
}

#logo a {
    color: var(--r-link-color);

    text-decoration: none;
    text-decoration-color: rgba(0, 0, 0, 0);
}

#logo a:hover {
    transition: 150ms ease;

    color: var(--r-link-color-hover);

    text-decoration: underline;
    text-decoration-color: #e65100;
}

#logo p {
    align-self: center;
}

.separator:before {
    content: "\00a0\2318\00a0";
    color: #e65100;

    font-weight: 1000;
    font-size: 1.5em;
    vertical-align: middle;
}

/* QR */

#qrcode {
    position: absolute;
    top: 10px;
    right: 10px;
}

#qrcode img {
    width: 100%;
    height: 100%;
}

/* References */

.reference {
    vertical-align: super;
    font-size: 30px;
    cursor: pointer;
    margin-left: 0.25ex
}

#references ol li {
    font-size: 0.5em;
    margin: 1em 0;
}

#references i {
    font-style: italic;
}

#references li:after {
    content: "";
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #e65100;
}

/* Lists */
ul, ol, dl {
    padding-left: 1em;
    line-height: 3ex;
}

ul li::marker, ol li::marker, dl dt::marker {
    color: #8fbcbb;
}

ul > li::marker, dl > dt::marker {
    content: "#'  ";
    font-weight: normal;
}

ul li:after, ol li:after, dl dd:after {
    content: ";";
    color: #ebcb8b;

    display: inline-block;
    width: 0;
}

ul li:last-child:after,
ol li:last-child:after,
dl dd:last-child:after{
    content: ".";
}

/* Description lists */
dl {
    display: flex !important;
    flex-flow: row wrap;
}

/* TODO: compute flex-basis automatically */
dl dt {
    display: list-item;

    flex-basis: 20%;
    text-align: left;
}

dl dd {
    flex-basis: 70%;
    flex-grow: 1;
    margin: 0 !important;
}

dl dt:after {
    content: ":";
    color: #ebcb8b;

    float: right;
    margin-left: 0;
    margin-right: 1ex;
}

/* Nested description lists */

dl dl {
    margin: 0 0 0 1ex !important;
    padding: 0 !important;
}

dl dl dt {
    font-weight: normal !important;
}

dl dl dt:after {
    font-weight: bold;
}

dl dl dt::marker {
    content: "";
}

.no-after:after {
    content: none !important;
}

.column:after {
    content: ":" !important;
}

.semicolumn:after {
    content: ";" !important;
}

.questionmark:after {
    content: "?" !important;
}

.period:after {
    content: "." !important;
}

/* Code */
pre.code-wrapper {
    border-radius: var(--b-radius);

    width: 100%;
}

pre.code-wrapper code.hljs, code.hljs {
    border-style: dotted;
    border-width: 2px;
    border-radius: var(--b-radius);
    border-color: #e65100;
    overflow: hidden;
    text-overflow: ellipsis;

    padding: 0.5em !important;

    background-color: rgba(124, 125, 126, 0.1);
}

code.hljs {
    display: inline;
    padding: 0 !important;
    border-radius: 0;
}

.hljs-symbol,
.hljs-number,
.hljs-link,
.hljs-attr,
.hljs-variable.constant_,
.hljs-literal {
  color: #bf9a56;
}

.hljs-repl, .hljs-meta.prompt_ {
    color: #9558b2;
}

pre code.hljs {
    white-space: pre;

}

p code, pre code.hljs {
    font-size: var(--r-main-font-size);
    line-height: 1em;
}

/* Small screen */
@media only screen and (max-width: 599px) {
    #logo {
        display: none;
    }

    #qrcode {
        width: 50px;
        height: 50px;
        top: 25px;
        right: 25px;
    }
}
