:root {
    --b-radius: 25px;
}

.reveal .slides {
    text-align: left;
}

/* Cover slide */
.cover h2 {
    font-size: 0.75em;
    margin-left: 1em;
}

.cover h3 {
    font-size: 0.5em;
    margin-left: 4em;
}

/* Title slides */
.reveal .title-slide > * {
    color: #eee;
    text-align: center;
}

.title-slide h2 {
    font-size: 0.75em;
}

/* Menu */
.reveal .slide-menu-button {
    top: 30px;
    bottom: auto !important;
    font-size: 44px !important;
}

nav ol li:after, nav ul li:after {
    content: "";
}

/* Logo */
#logo {
    position: absolute;
    bottom: 10px;
    left: 10px;

    height: 50px;
    width: 100%;

    display: flex;

    opacity: 25%;

    font-family: var(--r-main-font);
}

#logo:before {
    content: "";

    position: absolute;
    width: 25%;

    border-top: 2px solid #e65100;
}

#logo a {
    color: var(--r-link-color);

    text-decoration: none;
    text-decoration-color: rgba(0, 0, 0, 0);
}

#logo a:hover {
    transition: 150ms ease;

    color: var(--r-link-color-hover);

    text-decoration: underline;
    text-decoration-color: #e65100;
}

#logo p {
    align-self: center;
}

.separator:before {
    content: "\00a0\2318\00a0";
    color: #e65100;

    font-weight: 1000;
    font-size: 1.5em;
    vertical-align: middle;
}

/* References */

.reference {
    vertical-align: super;
    font-size: smaller;
}

#references ol li {
    font-size: 0.5em;
    margin: 1em 0;
}

#references i {
    font-style: italic;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #e65100;
}

/* Lists */
ul, ol {
    padding-left: 1em;
}

ul li::marker, ol li::marker {
    color: #8fbcbb;
}

ul li::marker {
    content: "#'  ";
}

ul li:after, ol li:after {
    content: ";";
    color: #ebcb8b;
}

/* Code */
pre {
    border-radius: var(--b-radius);
}

.reveal pre code, p code {
    border-style: dotted;
    border-width: 1px;
    border-radius: var(--b-radius);
    border-color: #e65100;
    overflow: hidden;

    background-color: rgba(124, 125, 126, 0.1);
}

p code {
    display: inline;
    padding: 0;
    border-radius: 5px;
}

.hljs-symbol,
.hljs-number,
.hljs-link,
.hljs-attr,
.hljs-variable.constant_,
.hljs-literal {
  color: #bf9a56;
}

.hljs-repl, .hljs-meta.prompt_ {
    color: #9558b2;
}

pre code.hljs {
    white-space: pre;

}

p code, pre code.hljs {
    font-size: var(--r-main-font-size);
    line-height: 1em;
}
