.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/*
.sass-cache

## Katex.
!node_modules/katex/
node_modules/katex/*
!node_modules/katex/dist/

## Menu.
!node_modules/reveal.js-menu/
